body {
	color:#616161;
	background:rgb(248, 249, 251);
}
img.centerpos{
	margin: 0px auto;
}

.middlepos{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}

.topNavbar{
	border-color: transparent;
}

.search-bar{
	max-width: 10em;
	background: white url('../Image/searchIcon.png') left center no-repeat;
}
.search-bar:focus{
	max-width: 10em;
	background: white left center no-repeat;
}
.rounded {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.greenButton{
	color: #FFFFFF;
	background: -webkit-linear-gradient(top, rgb(211, 227, 131) 0%, rgb(190, 214, 79) 22%, rgb(159, 192, 42) 89%, rgb(154, 189, 38) 100%);
	background: -o-linear-gradient(top, rgb(211, 227, 131) 0%, rgb(190, 214, 79) 22%, rgb(159, 192, 42) 89%, rgb(154, 189, 38) 100%);
	background: -ms-linear-gradient(top, rgb(211, 227, 131) 0%, rgb(190, 214, 79) 22%, rgb(159, 192, 42) 89%, rgb(154, 189, 38) 100%);
	background: -moz-linear-gradient(top, rgb(211, 227, 131) 0%, rgb(190, 214, 79) 22%, rgb(159, 192, 42) 89%, rgb(154, 189, 38) 100%);
	background: linear-gradient(to bottom, rgb(211, 227, 131) 0%, rgb(190, 214, 79) 22%, rgb(159, 192, 42) 89%, rgb(154, 189, 38) 100%);
  	border-color: #7a951f;
  	text-shadow: 1px 1px 1px black;
}

.greenButton:hover,.greenButton:focus,.greenButton:active{
	color: #FFFFFF;
  	background: -webkit-linear-gradient(top, rgb(162, 231, 154) 0%, rgb(111, 214, 79) 22%, rgb(84, 192, 42) 89%, rgb(20, 195, 25) 100%);
	background: -o-linear-gradient(top, rgb(162, 231, 154) 0%, rgb(111, 214, 79) 22%, rgb(84, 192, 42) 89%, rgb(20, 195, 25) 100%);
	background: -ms-linear-gradient(top, rgb(162, 231, 154) 0%, rgb(111, 214, 79) 22%, rgb(84, 192, 42) 89%, rgb(20, 195, 25) 100%);
	background: -moz-linear-gradient(top, rgb(162, 231, 154) 0%, rgb(111, 214, 79) 22%, rgb(84, 192, 42) 89%, rgb(20, 195, 25) 100%);
	background: linear-gradient(to bottom, rgb(162, 231, 154) 0%, rgb(111, 214, 79) 22%, rgb(84, 192, 42) 89%, rgb(20, 195, 25) 100%);
	border-color: #7a951f;
  	text-shadow: 1px 1px 1px black;
}
.buttonImage{
	opacity:0.8;
}
.buttonImage:hover, .buttonImage:focus, .buttonImage:active{
	opacity:1.0;
}
.remove-car-gradient{
	background-image: none !important;
}

.menu{
	padding-top: .7em;
}

.right-menu-component{
	padding-top: .7em;
}

.separator{
	margin-left:2em;
}
.footer{
	height:150px;
}
